<div class="pcoded-wrapper">
  <div class="fixed-header">
    <nav
      class="navbar navbar-expand navbar-dark bg-primary"
      style="background-color:#2C3E50 !important; position: relative;"
    >
      <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
        <span class="navbar-toggler-icon"></span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample02"
        aria-controls="navbarsExample02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div id="wrapper" class="">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a id="homepage-title" href="#"> Cratos IK </a>
        </li>
        <li><a id="homepage" href="#">Anasayfa</a></li>
        <li><a id="staffs" href="#">Çalışanlar</a></li>
        <li><a id="permissions" href="#">İzinler</a></li>
        <li><a id="other-requests" href="#">Diğer Talepler</a></li>
        <li><a id="reports" href="#">Raporlar</a></li>
        <li><a id="bulk-process" href="#">Toplu İşlemler</a></li>
        <li><a id="calender" href="#">Takvim</a></li>
        <li><a id="bordro" href="#">Bordro</a></li>
        <li><a id="system-settings" href="#">Sistem Ayarları</a></li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </div>
  <!-- /#wrapper -->
  <div id="pcoded-content" class="pcoded-content" style="margin-left: 0">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper-not-padding">
          <div class="page-body"></div>

          <!-- <div id="styleSelector">

                </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

