<div class="card">
    <div class="card-block edited-padding-for-this-navbar">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <ul class="nav nav-tabs tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="spend" href="#spend">Harcama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="advancepayment" href="#advancepayment">Avans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="bounty" href="#bounty">Prim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="shift" href="#shift">Fazla Mesai</a>
                    </li>
                </ul>
                <div class="tab-content tabs card-block edited-padding-for-this-navbar">
                    <div class="tab-pane active" id="spend">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Harcama</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Talep Tarihi</th>
                                                <th>Miktar</th>
                                                <th>Birim</th>
                                                <th>Fatura Tarihi</th>
                                                <th>Ödeme</th>
                                                <th>Fiş Adı</th>
                                                <th>Kdv</th>
                                                <th>Onay Süreci</th>
                                                <th>E-Posta</th>
                                                <th>Durum</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>İngiltere</td>
                                                <td>Fen</td>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="advancepayment">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Avans</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Talep Tarihi</th>
                                                <th>Miktar</th>
                                                <th>Birim</th>
                                                <th>Ücret Tipi</th>
                                                <th>Ödeme</th>
                                                <th>Onay Süreci</th>
                                                <th>E-Posta</th>
                                                <th>Bordroya Dahil Et</th>
                                                <th>Durum</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>Fen</td>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="bounty">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Prim</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Talep Tarihi</th>
                                                <th>Miktar</th>
                                                <th>Birim</th>
                                                <th>Ücret Tipi</th>
                                                <th>Ödeme</th>
                                                <th>Onay Süreci</th>
                                                <th>E-Posta</th>
                                                <th>Bordroya Dahil Et</th>
                                                <th>Durum</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>Fen</td>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="shift">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Fazla Mesai</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Miktar</th>
                                                <th>Birim</th>
                                                <th>Tarih</th>
                                                <th>Ücret Tipi</th>
                                                <th>Maaş Periyodu</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>