
<div style="padding:5px 0 10px 5px" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5 class="card-title accordion-title">
            Kimlik Bilgileri
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="padding:10px 10px 50px 10px;">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="IdentitySerialNo">Kimlik Seri Numarası</label>
                        <input type="number" class="form-control" id="IdentitySerialNo" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="IdentityNo">Kimlik Numarası</label>
                        <input type="number" class="form-control" id="IdentityNo" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="FatherName">Baba Adı</label>
                        <input type="text" class="form-control" id="FatherName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="MotherName">Anne Adı</label>
                        <input type="text" class="form-control" id="MotherName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Birthday">Doğum Tarihi</label>
                        <input type="text" class="form-control" id="Birthday" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="From">Doğum Yeri</label>
                        <input type="text" class="form-control" id="From" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="IsMarried">Medeni Hal</label>
                        <input type="text" class="form-control" id="IsMarried" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Region">Uyruk</label>
                        <input type="text" class="form-control" id="Region" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="BloodType">Kan Grubu</label>
                        <input type="text" class="form-control" id="BloodType" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Sex">Cinsiyet</label>
                        <input type="text" class="form-control" id="Sex" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SurnameBeforeMarried">Kızlık Soyadı</label>
                        <input type="text" class="form-control" id="SurnameBeforeMarried" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="City">İl</label>
                        <input type="text" class="form-control" id="City" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="County">İlçe</label>
                        <input type="text" class="form-control" id="County" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Street">Mahalle</label>
                        <input type="text" class="form-control" id="Street" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Cilt No</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Aile Sıra No</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Sıra No</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Verildiği Yer</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Kayıt No</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Verildiği Tarih</label>
                        <input type="text" class="form-control" id="" placeholder="">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>