<div class="card">
    <div class="card-header padding-bottom-zero">
        <h5 class="h5">İzin Bilgileri(Diğer İzin Bilgilerini Çalışan İlk Açıldığı Zaman Göstermeyi Düşünüyorum)</h5>
        <!-- <span>use class <code>table-hover</code> inside table element</span> -->
        <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Talep Tarihi</th>
                        <th>Başlangıç Tarih ve Saati</th>
                        <th>Bitiş Tarih ve Saati</th>
                        <th>İşe Dönüş Tarihi</th>
                        <th>İzin Türü</th>
                        <th>Talep Edilen Gün Sayısı</th>
                        <th>Yerine Bakacak Kişi</th>
                        <th>Süreç</th>
                        <th>Durum</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>01/01/1995</td>
                        <td>01/01/1995 9.30</td>
                        <td>01/01/1995 9.30</td>
                        <td>01/01/1995 9.30</td>
                        <td>Yıllık İzin</td>
                        <td>3</td>
                        <td>Yok</td>
                        <td>Genel Onay Süreci</td>
                        <td>Onaylandı</td>
                        <td>
                            <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                            <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>01/01/1995</td>
                        <td>01/01/1995 9.30</td>
                        <td>01/01/1995 9.30</td>
                        <td>01/01/1995 9.30</td>
                        <td>Yıllık İzin</td>
                        <td>3</td>
                        <td>Yok</td>
                        <td>Genel Onay Süreci</td>
                        <td>Onaylandı</td>
                        <td>
                            <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                            <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>01/01/1995</td>
                        <td>01/01/1995 9.30</td>
                        <td>01/01/1995 9.30</td>
                        <td>01/01/1995 9.30</td>
                        <td>Yıllık İzin</td>
                        <td>3</td>
                        <td>Yok</td>
                        <td>Genel Onay Süreci</td>
                        <td>Onaylandı</td>
                        <td>
                            <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                            <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>