<div class="card">
    <div class="card-block edited-padding-for-this-navbar">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <ul class="nav nav-tabs tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="workingcalendar" href="#workingcalendar">Çalışma
                            Takvimi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="discipline" href="#discipline">Disiplin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="dailyinout" href="#dailyinout">Günlük
                            Giriş-Çıkış</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="inout" href="#inout">Fazla Mesai</a>
                    </li>
                </ul>
                <div class="tab-content tabs card-block edited-padding-for-this-navbar">
                    <div class="tab-pane active" id="workingcalendar">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Çalışma Takvimi</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tarih</th>
                                                <th>Pazartesi</th>
                                                <th>Salı</th>
                                                <th>Çarşamba</th>
                                                <th>Perşembe</th>
                                                <th>Cuma</th>
                                                <th>Cumartesi</th>
                                                <th>Pazar</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>İngiltere</td>
                                                <td>Fen</td>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="discipline">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Disiplin</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tarih</th>
                                                <th>Gerekçe</th>
                                                <th>Statü</th>
                                                <th>Puan</th>
                                                <th>Tutar</th>
                                                <th>Sonuç</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>Fen</td>
                                                <td>Nottamun Town</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="dailyinout">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Günlük Giriş-Çıkış</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tarih</th>
                                                <th>Saat</th>
                                                <th>Giriş-Çıkış</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="inout">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Giriş-Çıkış</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tarih</th>
                                                <th>Giriş Saati</th>
                                                <th>Parmak İzi Giriş Saati</th>
                                                <th>Çıkış Saati</th>
                                                <th>Parmak İzi Çıkış Saati</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>