<div class="card">
    <div class="card-block edited-padding-for-this-navbar">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <ul class="nav nav-tabs tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="tetkik" href="#tetkik">Tetkik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="muayene" href="#muayene">Muayene</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="workaccident" href="#workaccident">İş
                            Kazası</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="tibbimuayene" href="#tibbimuayene">Tıbbi
                            Muayene</a>
                    </li>
                </ul>
                <div class="tab-content tabs card-block edited-padding-for-this-navbar">
                    <div class="tab-pane active" id="tetkik">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Tetkik</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tetkik</th>
                                                <th>Tetkik Tarihi</th>
                                                <th>Bulgu</th>
                                                <th>Tetkik Eden Ad Soyad</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="muayene">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Muayene</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Muayene Tarihi</th>
                                                <th>Muayene Eden Ad Soyad</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Lisans</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="workaccident">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">İş Kazası</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Kaza Tarihi</th>
                                                <th>Kaza Tipi</th>
                                                <th>Kaza Anındaki İş</th>
                                                <th>Kaza Sebebi</th>
                                                <th>Kaza Anında Yanında Bulunan Kişi</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Lisans</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>2. Öğretim</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tibbimuayene">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Tıbbi Muayene</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Muayenen Tarihi</th>
                                                <th>Şikayet</th>
                                                <th>Tanı</th>
                                                <th>Tedavi</th>
                                                <th>Sevk</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>