
<!-- <div id="loader-staff" class="theme-loader">

</div> -->
<div class="card page-header p-0">
    <div class="card-block-not-padding front-icon-breadcrumb row align-items-end">
        <div class="breadcrumb-header col">
            <div class="big-icon">
                <i class="icofont icofont-home"></i>
            </div>
            <div class="d-inline-block">
                <h5>Çalışanlar</h5>
                <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
            </div>
        </div>
        <div class="col">
        <!-- <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item"><a href="#!">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Breadcrumb</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Caption Breadcrumb</a>
                </li>
            </ul>
        </div> -->
        </div>
    </div>
</div>
<script>
    // $('#loader-staff').load('file:///views/partials/_loader.html');
</script>