<div class="card">
    <div class="card-block edited-padding-for-this-navbar">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <ul class="nav nav-tabs tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="highSchoolInformation" href="#highSchoolInformation">Lise
                            Bilgileri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="collegeInformation" href="#collegeInformation">Üniversite
                            Bilgileri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="master" href="#master">Yüksek Lisans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="postgraduate" href="#postgraduate">Doktora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="language" href="#language">Yabancı Dil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="certificate" href="#certificate">Sertifika</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_tabs" data-toggle="tab" aria-controls="workexperience" href="#workexperience">İş
                            Tecrübesi</a>
                    </li>
                </ul>
                <div class="tab-content tabs card-block edited-padding-for-this-navbar">
                    <div class="tab-pane active" id="highSchoolInformation">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Lise</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Tipi</th>
                                                <th>Bölümü</th>
                                                <th>Ülke</th>
                                                <th>Şehir</th>
                                                <th>Hazırlık</th>
                                                <th>Not Sistemi</th>
                                                <th>Mezuniyet Derecesi</th>
                                                <th>Bitiş Yılı</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen</td>
                                                <td>Fen</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>Yok</td>
                                                <td>5</td>
                                                <td>4.90</td>
                                                <td>01/01/1995</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="collegeInformation">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Üniversite</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Tipi</th>
                                                <th>Fakülte</th>
                                                <th>Bölümü</th>
                                                <th>Eğitim Tipi</th>
                                                <th>Ülke</th>
                                                <th>Şehir</th>
                                                <th>Hazırlık</th>
                                                <th>Burs</th>
                                                <th>Not Sistemi</th>
                                                <th>Mezuniyet Derecesi</th>
                                                <th>Bitiş Yılı</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Lisans</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>2. Öğretim</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>Yok</td>
                                                <td>Yok</td>
                                                <td>5</td>
                                                <td>4.90</td>
                                                <td>01/01/1995</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="master">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Yüksek Lisans</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Tipi</th>
                                                <th>Enstitü Adı</th>
                                                <th>Bölümü</th>
                                                <th>Eğitim Tipi</th>
                                                <th>Ülke</th>
                                                <th>Şehir</th>
                                                <th>Hazırlık</th>
                                                <th>Not Sistemi</th>
                                                <th>Mezuniyet Derecesi</th>
                                                <th>Bitiş Yılı</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Lisans</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>2. Öğretim</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>Yok</td>
                                                <td>5</td>
                                                <td>4.90</td>
                                                <td>01/01/1995</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="postgraduate">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Doktora</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Enstitü Adı</th>
                                                <th>Bölümü</th>
                                                <th>Ülke</th>
                                                <th>Şehir</th>
                                                <th>Hazırlık</th>
                                                <th>Bitiş Yılı</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>Yok</td>
                                                <td>01/01/1995</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="language">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Yabancı Dil</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Öğrenildiği Yer</th>
                                                <th>Okuma</th>
                                                <th>Yazma</th>
                                                <th>Konuşma</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="certificate">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">Sertifika</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Adı</th>
                                                <th>Başlangıç Tarihi</th>
                                                <th>Bitiş Tarihi</th>
                                                <th>Kurum</th>
                                                <th>Geçerlilik Süresi</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="workexperience">
                        <div class="card">
                            <div class="card-header padding-bottom-zero">
                                <h5 class="h5">İş Tecrübesi</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Şirket Adı</th>
                                                <th>Başlangıç Tarihi</th>
                                                <th>Bitiş Tarihi</th>
                                                <th>Departman</th>
                                                <th>Pozisyon</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Nottamun Town</td>
                                                <td>Fen-Edebiyat</td>
                                                <td>Matematik</td>
                                                <td>İngiltere</td>
                                                <td>Londra</td>
                                                <td>
                                                    <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                                                    <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>