<div class="card">
    <div class="card-header padding-bottom-zero">
        <h5 class="h5">Kariyer Bilgileri</h5>
        <!-- <span>use class <code>table-hover</code> inside table element</span> -->
        <button data-toggle="modal" data-target="#myModal" style="float:right;" type="button" class="btn btn-success">Yeni Ekle</button>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Şirket</th>
                        <th>Şube</th>
                        <th>Departman</th>
                        <th>Pozisyon</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Cratos</td>
                        <td>Kıbrıs</td>
                        <td>Bilgi İşlem</td>
                        <td>Yazılım Mühendisi</td>
                        <td>01/01/1995</td>
                        <td>../../..</td>
                        <td>
                            <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                            <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Cratos</td>
                        <td>Kıbrıs</td>
                        <td>Bilgi İşlem</td>
                        <td>Yazılım Mühendisi</td>
                        <td>01/01/1995</td>
                        <td>../../..</td>
                        <td>
                            <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                            <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Cratos</td>
                        <td>Kıbrıs</td>
                        <td>Bilgi İşlem</td>
                        <td>Yazılım Mühendisi</td>
                        <td>01/01/1995</td>
                        <td>../../..</td>
                        <td>
                            <i data-toggle="modal" data-target="#editableModal" class="fa fa-edit datatable-edit datatable-button"></i>
                            <i data-toggle="modal" data-target="#removeModal" class="fa fa-times datatable-edit datatable-button"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>